/* VARIABLES */
/* CLEANUP */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* UNIVERSAL SETTERS */
html,
body {
  height: 100%; }

body {
  display: grid;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

img,
svg {
  display: block;
  max-width: 100%; }

input,
button,
textarea,
select {
  font: inherit; }

/* MAIN BLOCKS */
.container {
  display: grid;
  width: 100vw;
  padding: 5rem 11rem; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%; }
  .nav__logo {
    width: auto; }
  .nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    z-index: 99; }
  .nav__item {
    margin-left: 3rem; }
  .nav__link:link, .nav__link:visited {
    display: block;
    transition: all 0.2s;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 180%;
    font-weight: 700;
    color: #242942;
    line-height: 1rem;
    text-decoration: none;
    text-transform: uppercase; }
    .nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
      border-bottom: 2px solid #5b5f71; }
  .nav__link--login:link, .nav__link--login:visited {
    color: #a0a1ac; }
    .nav__link--login:link:hover, .nav__link--login:link:active, .nav__link--login:visited:hover, .nav__link--login:visited:active {
      border-bottom: 2px solid #a0a1ac; }

.dot {
  font-size: 2rem;
  color: #a0a1ac; }

.header__title {
  color: red; }

.header__img {
  position: absolute;
  display: block;
  top: 27vh;
  right: -13vw;
  z-index: 5; }

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #eef3f6;
  border-bottom-left-radius: 5rem;
  width: 43vw;
  height: 54%; }
