/* VARIABLES */
$color-primary-red: hsl(0, 100%, 68%);
$colort-neutral-very-dark-blue: hsl(230, 29%, 20%);
$colort-neutral-dark-grayish-blue: hsl(230, 11%, 40%);
$colort-neutral-grayish-blue: hsl(231, 7%, 65%);
$colort-neutral-light-grayish-blue: hsl(207, 33%, 95%);
$font-body-size: 112.5%;
$font-weight-light: 400;
$font-weight-heavy: 700;
$font-family-body: "Barlow", sans-serif;
$font-family-headers-etc: "Barlow Condensed", sans-serif;

/* CLEANUP */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* UNIVERSAL SETTERS */
html,
body {
    height: 100%;
}

body {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    background-color: white;
    box-sizing: border-box;
    font-family: $font-family-body;
    font-size: 62.5%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* MAIN BLOCKS */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5rem 15rem;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &__logo {
        width: 100px;
    }
    &__bar {
        width: 50%;
    }
}
